mat-card {
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
  max-width: 500px;
  text-align: center
}

mat-form-field,
button {
  width: 100%;
  margin-top: 20px;
}


.user-icon {
  width: 30%;
  max-width: 200px;
  max-height: 200px;
}

.social-login{
  height: 36px;
}

.social-login-container {
  text-align: left;
}

.social-login-button-fb {
  background-color: #3B5998;
  color: white
}
.social-login-button-google {
  background-color: #d34836;
  color: white
}
.social-login-button-github {
  background-color: #333;
  color: white
}

