<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">MENU</mat-toolbar>
    <mat-nav-list>

      <mat-list-item routerLink="/log-eating" (click)="drawer.toggle()">
        <mat-icon mat-list-icon  color="F4511E">add_circle_outline</mat-icon>
        <h4 mat-line >New Eating</h4>
      </mat-list-item>

      <mat-list-item routerLink="/food" (click)="drawer.toggle()">
        <mat-icon mat-list-icon>fastfood</mat-icon>
        <h4 mat-line >Food</h4>
      </mat-list-item>

      <mat-list-item routerLink="/eating-day" (click)="drawer.toggle()">
        <mat-icon mat-list-icon>today</mat-icon>
        <h4 mat-line >Today Eating</h4>
      </mat-list-item>

      <mat-list-item routerLink="/eating-history" (click)="drawer.toggle()">
        <mat-icon mat-list-icon>history</mat-icon>
        <h4 mat-line >History</h4>
      </mat-list-item>

      <mat-list-item routerLink="/fit-progress" (click)="drawer.toggle()">
        <mat-icon mat-list-icon>fitness_center</mat-icon>
        <h4 mat-line >Fit Progress</h4>
      </mat-list-item>

    </mat-nav-list>
    <hr>
    <mat-nav-list>

      <div *ngIf="loggedInUser">
        <a mat-list-item routerLink="/profile" (click)="drawer.toggle()">Profile</a>
      </div>

      <div *ngIf="!loggedInUser">
        <a mat-list-item routerLink="/sign-in" (click)="drawer.toggle()">Sign In</a>
        <a mat-list-item routerLink="/sign-up" (click)="drawer.toggle()">Sign Up</a>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>HEALTH FIT</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
