<div class="form-container">

  <img class="user-icon" src="http://www.1000springs.org.nz/static/img/icons/login.png">

  <mat-form-field>
    <input matInput placeholder="First Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Password">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Confirm Password">
  </mat-form-field>

  <button mat-raised-button color="primary">SIGN UP</button>
</div>
