<mat-card style="margin-left: 5%; margin-top: 5%; margin-right: 5%">

  <mat-card-title>New Eating</mat-card-title>

  <mat-form-field>
    <mat-select placeholder="Food">
      <mat-option value="option">Chicken, 60kKal / 100grams, GI: 45</mat-option>
      <mat-option value="option">Potato, 80kKal / 100grams, GI: 15</mat-option>
      <mat-option value="option">Apple, 50kKal / 100grams, GI: 60</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Energy cap: 60 kKal / 100 grams</mat-label>
    <input matInput disabled>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Glycemic index: 30</mat-label>
    <input matInput disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Weight, grams">
  </mat-form-field>

  <mat-form-field>
    <input matInput disabled placeholder="60 kKal">
  </mat-form-field>

  <button mat-raised-button color="primary">SAVE</button>
</mat-card>
