<mat-card style="margin-left: 5%; margin-top: 5%; margin-right: 5%">

  <mat-card-title>New Eating</mat-card-title>
  <form [formGroup]="newEatForm"
        (ngSubmit)="onSubmitNewEatForm()">
    <mat-form-field  appearance="outline">
      <mat-label>Food</mat-label>
      <mat-select placeholder="Food" [(value)]="foodSelected.id" (valueChange)="onSelectFood($event)">
        <mat-option
          *ngFor="let food of foods"
          value="{{food.id}}">
          {{food.localizedName}}, {{food.caloricity}}kKal, GI: {{food.gi}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--<mat-form-field *ngIf="foodSelected">-->
    <!--<mat-label>Energy cap: {{foodSelected.caloricity}} kKal / 100 grams</mat-label>-->
    <!--<input matInput formControlName="caloricity100g">-->
    <!--</mat-form-field>-->


    <!--<mat-form-field *ngIf="foodSelected">-->
    <!--<mat-label>Glycemic index: {{foodSelected.gi}}</mat-label>-->
    <!--<input matInput formControlName="gi">-->
    <!--</mat-form-field>-->

    <mat-form-field  appearance="outline" >
      <mat-label>Weight, grams</mat-label>
      <input matInput placeholder="Weight, grams" formControlName="weight" #weightInput (ngModel)="weightInput"
             type="number">
    </mat-form-field>

    <div *ngIf="weightInput.value">
      <mat-form-field>
        <input matInput
               value="{{getKkalForCurrentFood(weightInput.value).toFixed(2) + 'kKal' }}"
               disabled>
      </mat-form-field>
      <input matInput
             value="{{'Protein: ' + getProteinForCurrentFood(weightInput.value).toFixed(2) + 'g' }}" >
      <input matInput
             value="{{'Fat: ' + getFatForCurrentFood(weightInput.value).toFixed(2) + 'g' }}" >
      <input matInput
             value="{{'Carbohydrates: ' + getCarbForCurrentFood(weightInput.value).toFixed(2) + 'g' }}" >
    </div>
    <button mat-raised-button color="primary" [disabled]="!foodSelected || !weightInput.value || saveButtonDisabled">SAVE</button>
  </form>
</mat-card>
